services:
  mysql:
    image: mysql:latest
    environment:
      MYSQL_DATABASE: ecommerce
      MYSQL_USER: lnreddy
      MYSQL_PASSWORD: lnreddy
      MYSQL_ROOT_PASSWORD: lnreddy
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  sonarqube:
    image: sonarqube:lts-community
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_extensions:/opt/sonarqube/extensions
    # -------------------
    # Elasticsearch
    # -------------------

  elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:8.19.10
      container_name: elasticsearch
      environment:
        - discovery.type=single-node
        - ES_JAVA_OPTS=-Xms1g -Xmx1g
        - ELASTIC_PASSWORD=lnreddy
        - xpack.security.enabled=true
        - xpack.security.http.ssl.enabled=false

      ports:
        - "9200:9200"
      volumes:
        - es_data:/usr/share/elasticsearch/data
      networks:
        - elk-network

    # -------------------
    # Kibana
    # -------------------
  kibana:
        image: docker.elastic.co/kibana/kibana:8.19.10
        container_name: kibana
        ports:
          - "5601:5601"
        depends_on:
          - elasticsearch
        environment:
          ELASTICSEARCH_HOSTS: http://elasticsearch:9200
          ELASTICSEARCH_USERNAME: kibana_system
          ELASTICSEARCH_PASSWORD: K+TKGlaBx+r_-sfDKKJY
        networks:
          - elk-network

    # -------------------
    # Logstash
    # -------------------
  logstash:
          image: docker.elastic.co/logstash/logstash:8.19.10
          container_name: logstash
          ports:
            - "5044:5044" # Beats input port
          labels:
            org.springframework.boot.readiness-check.tcp.disable: "true"
          volumes:
            - ./logstash/pipeline:/usr/share/logstash/pipeline
            - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
            - /var/log/ecommerce:/var/log/ecommerce
          depends_on:
            - elasticsearch
          networks:
            - elk-network


networks:
  elk-network:
    driver: bridge

volumes:
  es_data:
  mysql_data:
  sonarqube_data:
  sonarqube_logs:
  sonarqube_extensions:
